[Desktop Entry]
Type=Application
Name=ROBOT-CONTROL-SMALL-ROBOT
Icon=folder
Exec=/home/concordia/catkin_ws/src/wheeltec-building-inspection/UI/ui-startup/run_rqt_gui_1.sh