[Unit]
Description=Launch roscore and startup robot handler node
After=network.target

[Service]
User=root
Type=simple
ExecStart=/home/concordia/catkin_ws/src/wheeltec-building-inspection/robot_handler_startup/run_start_robot_handler.sh

[Install]
WantedBy=multi-user.target