<library path="src">
   <class name="Building Inspection Control" type="wheeltec-building-inspection.building-inspec.NavControl" base_class_type="rqt_gui_py::Plugin">
     <description>
       RQT Plugin for controlling the navigation of the Wheeltec robot for building inspection
     </description>
     <qtgui>
       <!-- optional grouping...
       <group>
         <label>Group</label>
       </group>
       <group>
         <label>Subgroup</label>
       </group>
       -->
       <label>Rover Controller</label>
       <icon type="theme">system-help</icon>
       <statustip>User Interface designed to control the building inspection rover</statustip>
     </qtgui>
   </class>
</library>
